<div data-sly-resource="${@path='headerHome', resourceType='wcm/foundation/components/iparsys'}"></div>
<div class="sideBarNav">
	<div data-sly-resource="${@path='placeholderParsysHome', resourceType='wcm/foundation/components/iparsys'}"></div>
</div>
<div class="rightSideContent">
	<div data-sly-resource="${@path='placeholderParsy', resourceType='wcm/foundation/components/parsys'}"></div>
</div>
<br>
<div data-sly-resource="${@path='footerHome', resourceType='wcm/foundation/components/iparsys'}"></div>